<%- include('../partials/header') %>



<div class="jumbotron">

  <a href="/blogs" class="btn btn-outline-dark float-left">Back</a>

    <div class="container">      

        <h1>Create your Blog</h1>

        <form action="/blogs" method="POST" id="newBlog" class="mt-2">

            <div class="form-group">
              <label for="title">Blog Title</label>
              <input type="text" name="title" id="title" class="form-control">
            </div>

            <div class="form-group">
              <label for="text">Blog Content</label>
              <textarea class="form-control" name="text" id="text" rows="15"></textarea>
            </div>    

            <button class="btn btn-lg btn-info">Submit</button>
            
          </form>
    </div>
</div>

<script src="/js/validationNEW.js"></script>

<%- include('../partials/footer') %>