<%- include('../partials/header') %>

<div class="jumbotron">
    <div class="container">
        <h1>Add Your Comment</h1>

        <form action="/blogs/blogID/comment" method="POST" class="mt-2">

            <div class="form-group">
              <label for="text">Comment</label>
              <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
            </div>    

            <button class="btn btn-lg btn-info">Submit</button>
            
          </form>
    </div>
</div>

<%- include('../partials/footer') %>