<%- include('./partials/header') %>

<section id="mainContent" class="container-fluid px-0 overflow-hidden">
  <%- include('./partials/flashMessages') %>

  <div class="row align-items-center m-0">
    <div class="col-md-6 px-0">
      <h2 class="text-center h1 d-none d-md-block">Let's work together...</h2>
    </div>
    <div class="col-md-6 px-0 d-none d-md-block">
      <img
        src="/images/annie-spratt-608001-unsplash.jpg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 px-0 order-2 order-md-1 d-none d-md-block">
      <img
        src="/images/fatos-bytyqi-535528-unsplash.jpg"
        class="img-fluid"
        alt=""
      />
    </div>

    <div class="col-md-6 px-0 order-1 order-md-2">
      <h2 class="text-center h1 d-none d-md-block">
        as together, we are better.
      </h2>
    </div>
  </div>

  <div class="row align-items-center m-0 align-items-stretch">
    <div class="col-md-6 px-0">
      <div class="row justify-content-center m-0">
        <div class="col-md-8 col-sm-12">
          <h1 class="my-3"><a id="about">About this Site</a></h1>

          <p>
            This site was built using Node.js and MongoDB on the backend, with
            Boostrap 5 on the frontend. (The full code can be viewed in this
            <a href="https://github.com/lzav/profile" target="_blank"
              >GitHub repository</a
            >.)
          </p>
          <p>
            The site demonstrates a simple CRUD app, a blog, which uses both
            local authentication, with confirmation email, and OAuth
            authentication, through google and facebook. It also demonstrates
            custom JS authorisation on the back end, and custom validation on
            both front and back.
          </p>

          <p>
            Please play around with the app. I have neither put any restrictions
            on blog posts nor comments once you sign up: this allows you to see
            the CRUD functionality without having to wait for posts or comments
            to be vetted.
          </p>
          <p>
            Please feel free to <a href="/contact">contact</a> me if you have
            any questions. I am planning to put up articles soon on how I got to
            this stage in my web-developer journey.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-0 bgImg3">
      <!-- <img
        src="/images/hal-gatewood-613602-unsplash.jpg"
        class="img-fluid"
        alt=""
      /> -->
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 px-0 d-none d-md-block">
      <img
        src="/images/bobby-burch-319840-unsplash.jpg"
        class="img-fluid"
        alt=""
      />
    </div>

    <div class="col-md-6">
      <div class="row justify-content-center m-0">
        <div class="col-md-8 col-sm-12">
          <h2 class="h1 my-3">My Journey</h2>

          <p>
            My journey into web development started with a course recommended by
            a friend on the fundamentals of computing. I loved the course, and
            found myself working through it any chance I got. One thing led to
            another, and I now find myself spending most my time at a computer,
            developing web apps and learning new web technologies.
          </p>

          <p>
            I particularly enjoy working with: <br />
            NodeJS, Express, HTML5, CSS3, JavaScript ES6, MongoDB, Mongoose,
            ejs, PassportJS, Git, GitHub, Heroku, body-parser, cookie-session,
            method-override, connect-flash, nodemailer, bcrypt
          </p>

          <p>
            My current learning is focused on React, but I am also dabbling in
            database design.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/footer') %>
