<%- include('./partials/header') %>

    <section id="mainContent" class="container-fluid px-0 overflow-hidden">

      <%- include('./partials/flashMessages') %>

      <div class="row align-items-center m-0">
        <div class="col-md-6 px-0">
          <h1 class="text-center">Let's work together...</h1>
        </div>
        <div class="col-md-6 px-0 d-none d-md-block">
          <img
            src="/images/annie-spratt-608001-unsplash.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-6 px-0 order-2 order-md-1">
          <img
            src="/images/fatos-bytyqi-535528-unsplash.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col-md-6 px-0 order-1 order-md-2">
          <h1 class="text-center">as together, we are better.</h1>
        </div>
      </div>

      <div class="row align-items-center m-0">
        <div class="col-md-6 px-0">
          <div class="row justify-content-center m-0">
            <div class="col-8 col-sm-10">
              <h1 class="text-center">What I offer...</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                dolores, aliquid totam facilis placeat praesentium esse culpa
                commodi recusandae! Maxime ipsum nesciunt quisquam neque
                voluptatum soluta architecto libero. Voluptatum quod tenetur
                numquam autem suscipit illum modi eum. Tempora labore sed
                molestiae, nostrum, nesciunt vel officiis est ducimus repellat,
                hic sunt.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <img
            src="/images/hal-gatewood-613602-unsplash.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-md-6 px-0 d-none d-md-block">
          <img src="/images/bobby-burch-319840-unsplash.jpg" class="img-fluid" alt="" />
        </div>

        <div class="col-md-6 px-0">
          <div class="row justify-content-center m-0">
            <div class="col-8 col-sm-10">
              <h1 class="text-center">My journey...</h1>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque
                ducimus molestias beatae ad nostrum a eveniet alias magnam,
                sequi incidunt pariatur, natus vero maxime. A iure id, natus
                ducimus excepturi dolorem sit! Quos asperiores ea debitis,
                cumque aliquam vel nulla consectetur velit possimus quae, hic
                totam, dolorem quo! Itaque, eius.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- include('./partials/footer') %>
